@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;900&display=swap');
body {
    width: 100%;
    height: 100vh;
}

main {
    background-color: #415d5d;
    margin: 50px;
    width: 400px;
    height: 520px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 21px;
}

input {
    background-color: rgb(246, 240, 240);
    width: 370px;
    height: 50px;
    border-radius: 5px;
    margin-left: 14px;
    text-align: right;
    font-size: large;
    border-style: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.calculator {
    background-color: rgb(148, 201, 201);
    width: 380px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

h2 {
    color: blue;
    text-align: center;
}

.symbol {
    background-color: rgb(246, 240, 240);
    color: rgb(1, 1, 57);
    width: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.num {
    background-color: rgb(246, 240, 240);
    color: rgb(38, 38, 239);
    width: 50px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.cls {
    background-color: rgb(231, 148, 148);
    color: rgb(38, 38, 239);
    width: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

td {
    justify-content: center;
    text-align: center;
    border-radius: 3px;
}